body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.part-1 {
    width: 100%;
    height: 600px;
    background-image: url(images/pic-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.first-headr {
    margin: 0;
    padding-top: 200px;
    font-size: 60px;
    color: white;
}

.box-1 {
    text-align: center;
    width: 60%;
    height: 580px;
    margin: auto;

}

.first-pera {
    color: white;
    padding-bottom: 20px;
}

.button {
    text-decoration: none;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(0 201 255);
}

.part-2 {
    width: 100%;
    height: 300%;
    text-align: center;
}

.donet-mony {
    font-size: 35px;
    margin-top: 130px;
}

.mony-pera {
    color: gray;
}

.mony-box {
    display: flex;
    justify-content: center;
}

.taka {
    background-color: #80808017;
    border-radius: 5px;
    font-size: 24px;
    margin: 10px;
    color: gray;
    width: 100px;
    height: 100px;
}

.choice {
    margin: 0;
    padding-top: 31%;
}

#select {
    color: aqua;
}

#select-box {
    border: 3px solid aqua;
    background-color: #00ffff1c;
}

.line {
    width: 45%;
    margin-bottom: 20px;
}

.line-tk {
    color: gray;
    margin-bottom: 0;
}

.part-3 {
    text-align: center;
    width: 60%;
}

.donet-box {

    text-align: center;
    width: 80%;
    margin: auto;

}

.donet-box-2 {

    width: 80%;
    margin: auto;
    display: flex;
}

.donet-typ {
    width: 285px;
    height: 340px;
    margin: 11px 38px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.help-pic {
    width: 100px;
    height: 100px;
}

#color-1 {
    background-color: rgb(0 255 34 / 15%);
}

#color-2 {
    background-color: rgb(255 0 0 / 15%);
}

#color-3 {
    background-color: rgb(0 142 255 / 15%);
}

.donet-pera {
    color: gray;
    text-align: justify;
}

.part-4 {
    margin-top: 150px;
    width: 100%;
    display: flex;
}

.picture {
    width: 300px;
    height: 300px;
    margin-left: 180px;

}

.medicine {
    width: 300px;
    height: 300px;

}

.pictitle {
    width: 653px;
    height: 202px;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background-color: #ffcf0024;
    border-radius: 150px 150px 150px 150px;

}

.part-5 {
    margin-top: 200px;
    width: 100%;
    text-align: center;
}

.formhead {
    font-size: 35px;
}

.formpera {
    color: gray;
}

.submit {
    width: 70%;
    padding: 100px 0px 100px;
    margin: auto;
    background-color: #009aff24;
}

.email {
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    padding: 11px;
    margin: 0;
    background-color: #80808057;
}

#button-2 {
    width: 200px;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    padding: 11px;
    margin-left: -4px;
    background-color: #0fc1ffa1;
    color: white;
}